.calc
{
    width: 400px;
    height: 600px;
    background-color: grey;
    margin-left: 400px;

}
#screen
{
    width: 80%;
    margin-left: 36px;
    margin-top: 28px;
    height: 40px;
    pointer-events: none;
}

.btm
{
    width: 83px;
    height: 57px;
    margin-top: 45px;
    margin-left: 9px;
    background-color: burlywood;

}